services:
  app:
    container_name: relate
    image: ahamana/relate:python3.13-${DISTRIBUTION}
    restart: unless-stopped
    ports:
      - published: 80
        target: 8000
    environment:
      RELATE_DOMAIN: ${RELATE_DOMAIN}
      RELATE_ADMIN_USER: ${RELATE_ADMIN_USER}
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      DB_ENGINE: postgresql
      EMAIL_DOMAIN: ${EMAIL_DOMAIN}
      EMAIL_HOST: smtp
      EMAIL_PORT: 1025
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      DJANGO_SUPERUSER_USERNAME: ${RELATE_ADMIN_USER}
      DJANGO_SUPERUSER_PASSWORD: ${RELATE_ADMIN_PASSWORD}
      DJANGO_SUPERUSER_EMAIL: ${RELATE_ADMIN_EMAIL}
      TZ: ${TZ}
    volumes:
      - type: bind
        source: relate/local_settings.py
        target: /opt/relate/local_settings.py
        read_only: true
      - type: volume
        source: app-git-storage
        target: /opt/relate/git-roots
    depends_on:
      db:
        condition: service_healthy
      smtp:
        condition: service_started

  db:
    container_name: postgres
    image: postgres:18
    restart: unless-stopped
    ports:
      - published: 5432
        target: 5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${TZ}
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
    volumes:
      - type: volume
        source: db-data
        target: /var/lib/postgresql

  smtp:
    container_name: mailpit
    image: axllent/mailpit
    restart: unless-stopped
    ports:
      - published: 8025
        target: 8025

volumes:
  app-git-storage:
  db-data:
